<head>
  <meta charset="utf-8">
  <title>Test Blog for Azure</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="テストブログ">
  <meta property="og:type" content="website">
  <meta property="og:title" content="テストブログ">
  <meta property="og:url" content="https://jpazblog.github.io/draft/index.html">
  <meta property="og:site_name" content="テストブログ">
  <meta property="og:description" content="テストブログ - Description">
  <meta property="og:locale" content="ja_JP">
  <meta property="article:author" content="draft">
  <meta name="twitter:card" content="summary">

  <link rel="alternate" href="atom.xml" title="テストブログ" type="application/atom+xml">
  <link rel="icon" href="assets/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="assets/css/style.css">
</head>

<header id="header">
  <div id="site-header-logo"></div>
  <div id="site-header-blog-wrapper"></div>
  <div id="header-outer" class="outer">
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon"></a>
        <div id="ms-logo"></div>
          <a class="main-nav-link" href="/draft/">Home</a>
      </nav>
      <nav id="sub-nav">
        <a id="nav-rss-link" class="nav-icon" href="atom.xml" title="RSSフィード"></a>
      </nav>
    </div>
    <div id="header-title" class="inner">
      <h1 id="logo-wrap">
        <a href="index.html" id="logo">[テストサイト] Japan Azure Tech Community ブログ</a>
      </h1>
    </div>
  </div>
</header>