---
---
<!DOCTYPE html>
<html>
{% include header1.html %}
<body>
    <div class="outer">
      <section id="main"> 
      <article id="test" class="article article-type-post" itemscope itemprop="blogPost">
      <div class="article-inner">
      <div class="article-meta">
        <a href="vm/vm-availability-monitoring-with-project-flash/" class="article-date">
          <time datetime="2023-01-06T03:00:00.000Z" itemprop="datePublished">2023-02-XX</time>
        </a>
      </div>

      <header class="article-header">
        <h1 itemprop="name">
          <a class="article-title" href="post1.html">テスト記事 タイトル</a>
        </h1>
      </header>

      <div class="article-entry" itemprop="articleBody">
        <p>テスト記事</p>
      </div>
    </div>
  </div>
{% include footer1.html %}
</body>
</html>